@import "./reset.scss";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #2e3333;
}

.topBar {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #e9ebeb;
  margin: 10px 0 30px 0;
  img {
    width: 200px;
    height: 45px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.restaurant {
  @include flexCenter();

  .leftPart {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 180px;
    justify-content: space-between;
  }

  h2 {
    font-size: 35px;
    font-weight: 900;
  }

  p {
    color: grey;
    font-size: 19px;

    line-height: 28.8px;
  }

  img {
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin-left: 50px;
  }
}

.container {
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  @include flexCenter;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 96vw;
  background-color: #f3f5f5;

  h3 {
    font-weight: 900;
    font-size: 25px;
  }
}

.sidebar {
  width: 350px;
  background-color: #00cdbd;
  position: sticky;
  top: 0;
}

.categories {
  width: 830px;
  display: flex;
  flex-direction: column;
}

.meals {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  margin: 5px;
  padding: 15px;
  width: 370px;
  height: 133px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: grey;

  &:hover {
    box-shadow: 0px 12px 16px 0px rgba(107, 107, 107, 0.4);
  }
  h4 {
    font-size: 21px;
    color: #2e3333;
  }

  .leftPart {
    flex-direction: column;
  }

  img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .popular {
    color: #ff8000;
    font-weight: 900;
  }

  p {
    margin: 15px 0;
    line-height: 20px;
  }
}
